@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@media only screen and (min-width: 400px) {
  #bg{
    max-height: 100%;
    max-width: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    z-index: -2
  }
  #welcome, .header2{
    text-align: center;
  }
  #meetupsAndConvos{
    display: flex;
    justify-content: space-around;
  }
  #meetups{
    background-color: rgb(231, 231, 231, 0.8);
    border-radius: 0px 25px 0px 25px;
    width: 35%;
  }
  #convos{
    display:inline-block;
    background-color: rgba(231, 231, 231, 0.8);
    border-radius: 25px 0px 25px 0px;
    width: 35%;
  }
  #meetupDetails{
    border-radius: 25px;
    padding: 2%;
    margin: auto;
    width: 65%;
    background: grey;
    color: white;
    margin-top: 15vmin;
  }
  button{
    margin: 0 auto;
    display: block;
    height: 30px;
    border-radius: 8px;
    font-size: 1.2em;
  }
  #typeAndLocationContainer{
    display: grid;
    grid-template-columns: 60% 40%
  }
  #typeAndLocation{
    display: grid;
    grid-template-columns: 1fr 9% 1fr;
    grid-column-gap: 5px;
    border-bottom: 3px white solid;
    font-size-adjust: 0.5;
  }
  #dateDiv{
    display: grid;
    grid-template-columns: 5% 80% 10%;
    font-size: 3vmin;
  }
  #date{
    margin-bottom: 0;  
  }
  #type{
    margin-bottom: 0px;
    text-align: left;
    text-transform: capitalize;
  }
  #location{
    margin-bottom: 0px;
    text-align: left;
  }
  #header, #profession{
    text-transform: capitalize;
  }
  #conversationContainer{
    display:grid;
    grid-template-rows: 5% 75% 1fr;
    grid-template-columns: 1fr 90% 1fr;
  }
  #conversation{
    grid-row: 2;
    grid-column: 2;
    display:grid;
    grid-template-rows: fit-content(30%) fit-content(60%) 20%;
  }
  #author{
    display:grid;
    grid-template-columns: 15% 80%;
    grid-template-rows:50% 50% ;
  }
  #avatarContainer{
    grid-area: 1/1/3/2;
    display:flex;
    justify-content: center;
  }
  #avatar{
    border-radius:50%;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 50px;
    min-height: 50px;
    width: 80px;
    height:auto;
    max-width: 80px;
    max-height: 80px;
  }
  #name{
    margin-bottom:0px;
    -webkit-text-stroke: 0.1px black;
  }
  #profession{
    margin-top:0;
    grid-column: 2;
    grid-row: 2;
    font-weight: lighter;
  }
  #post{
    margin-top: 20px;
    background-color: lightgrey;
    position: relative;
    padding: 15px;
  }
  #post:after {
    border-right: solid 20px transparent;
    border-left: solid 20px transparent;
    border-bottom: solid 20px lightgrey;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
    content: '';
    bottom: 100%;
    left: 50%;
    height: 0;
    width: 0;
  }
  #dateLikesComments {
    width: 80%;
    display: flex;  
    flex-direction: row;
    justify-content: space-between
  }
  #dateDiv2{
    display:grid;
    grid-template-columns: 15% 85% 
  }
  #calendarIcon2{
    background-image: url('pics/calendar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #date2{
    white-space: nowrap;
    padding-left:5px;
  }
  #likesDiv{
    display:grid;
    grid-template-columns: 15% 85% 
  }
  #likesIcon{
    background-image: url('pics/diamond.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #likes{
    white-space: nowrap;
    padding-left:5px;
  }
  #commentsDiv{
    display:grid;
    grid-template-columns: 25% 75% 
  }
  #commentIcon{
    background-image: url('pics/comments.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #comments{
    white-space: nowrap;
    padding-left:5px;
  }
}
/*----------------------------------------------------------------------*/

@media only screen and (max-width: 540px) {
  #dateLikesComments {
    margin: 10px 10px 10px 0px;
    width: 80%;
    display: flex;  
    flex-direction: column;
    justify-content: space-between
  }
  #dateDiv2{
    display:grid;
    grid-template-columns: 8% 85% 
  }
  #calendarIcon2{
    background-image: url('pics/calendar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
  #date2{
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    padding-left:5px;
  }
  #likesDiv{
    display:grid;
    grid-template-columns: 8% 85% 
  }
  #likesIcon{
    background-image: url('pics/diamond.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
  #likes{
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    padding-left:5px;
  }
  #commentsDiv{
    display:grid;
    grid-template-columns: 8% 85%
  }
  #commentIcon{
    background-image: url('pics/comments.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
  #comments{
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    padding-left:5px;
  }
 
}
@media only screen and (max-width: 400px) {
  #body { 
    background:  white !important;
  }
  #bg{
    display:none;
  }
  #meetupsAndConvos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #meetups{
    background-color: rgb(226, 237, 255, .8);
    border-radius: 0px 25px 0px 25px;
    border: 2px black solid;
    overflow: hidden;
  }
  #convos{
    border: 2px black solid;
    background-color: rgb(226, 237, 255, .7);
    border-radius: 25px 0px 25px 0px;
    margin-top: 3px;
  }
  #meetupDetails{
    border-radius: 20px;
    padding: 3%;
    margin: auto;
    width: 90%;
    background: grey;
    color: white;
    margin-top: 10%;
  }
  button{
    margin: 0 auto;
    display: block;
    height: 25px;
    border-radius: 8px;
    font-size: 0.8em;
  }
  #typeAndLocationContainer{
    display: flex;
    flex-direction:column;
    grid-template-columns: 60% 40%
  }
  #typeAndLocation{
    display: grid;
    grid-template-columns: 1fr 9% 1fr;
    grid-column-gap: 5px;
    border-bottom: 3px white solid;
    font-size-adjust: 0.5;
  }
  #type{
    margin-bottom: 0px;
    text-align: left;
  }
  #location{
    margin-bottom: 0px;
    text-align: left;
  }
  #dateDiv{
    display: grid;
    grid-template-columns: 5% 80% 10%;
    font-size: 4vmin;
  }
  #date{
    margin-bottom: 0;  
  }
  #location{
    margin-bottom: 0px;
    text-align: left;
  }
  #header, #profession, #type{
    text-transform: capitalize;
  }
  #header{
    margin-top:5px;
    margin-bottom:5px;
    text-decoration: underline;
  }
  #paragraph{
    margin-top:5px;
    margin-bottom:5px;
  }
  #conversationContainer{
    display:grid;
    grid-template-rows: 5% 75% 1fr;
    grid-template-columns: 1fr 90% 1fr;
  }
  #conversation{
    grid-row: 2;
    grid-column: 2;
    display:grid;
    grid-template-rows: fit-content(30%) fit-content(60%) 20%;
  }
  #author{
    display:grid;
    grid-template-columns: 15% 80%;
    grid-template-rows:50% 50% ;
  }
  #avatarContainer{
    grid-area: 1/1/3/2;
    display:flex;
    justify-content: center;
  }
  #avatar{
    margin-top: 17px;
    border-radius:50%;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height:50px;
    max-width: 80px;
    max-height: 80px;
  }
  #name{
    margin-bottom:0px;
    margin-left:20px;
    -webkit-text-stroke: 0.1px black;
  }
  #profession{
    margin-left:20px;
    margin-top:0;
    grid-column: 2;
    grid-row: 2;
    font-weight: lighter;
  }
}
/*------------------------------------------------------------------*/
body {
  font-family: 'Roboto Slab', serif;
}
ul{
  padding: 13%;
  padding-top: 5%;
}
h4{
  margin-bottom: 13px;
  margin-top: 0;
}
li {
  -webkit-text-stroke: 0.1px white;
  list-style-type: none !important;
}
li a {
  -webkit-text-stroke: 0.03px white;
  color: black;
}
#locationIcon{
  width: 20px;
  max-width: 120%;
  margin:auto;
  margin-top: 25px;
  filter: invert(100%);
}
#calendarIcon{
  width: 20px;
  max-width: 100%;
  margin:auto;
  filter: invert(100%);
  margin-bottom: 25%;
}